body {
    background-image: url('../img/cartina2.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4); /* ← bianco semitrasparente */
    z-index: -1;
    pointer-events: none;
}

form {
    background-color: rgba(255, 255, 255, 0.4);  /* sfondo semi-trasparente */
    border: 2px solid black; 
    backdrop-filter: blur(8px);
    
    
    border-radius: 100px;
    box-shadow: 0 0 350px rgba(0,0,0,0.3);
    max-width: 600px;
    width: 600px;
    
    
}
label, input {
    
    width: 100%;
    margin-bottom: 10px;
    max-width: 600px;
}

fieldset {
    border: none;
}
.label-blu {
    color: #003399; /* Blu scuro intenso */
    font-weight: bold;
    font-size: 1.2rem;
}
#InfoViaggio{
    background-color: #003399;
    max-width: 450px; /* ✅ larghezza ridotta */
    width: 600px;
    text-align: center;
    border: 3px solid black; 
    border-color: white solid 3px;
    border-radius:1rem ;
    margin-bottom: 30px;
    align-items: center;
    text-shadow:
        -1px -1px 0 #fff,
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
    
}
#cercaViaggi{
    max-width: 600px;
    width: 600px;

}